.cal{
    border: 2px solid black;
}
#screen{
    height: 100px;
    width: 400px;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-size: xx-large;
     border-radius: 10px;
     margin-bottom: 10px;
}
.body{
    max-width: fit-content;
    text-align: center;
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 10px;
    box-shadow: 20px 20px 10px grey;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#btn{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.inpt{
    border: 2px solid black;
}
input{
    height: 40px;
    border-radius: 10px;
    font-size: xx-large;

}
button{
    border-radius: 10px;
    font-size: xx-large;
}
input:hover{
    background-color: darkgray;
}
button:hover{
    background-color: darkgray;
}
